# Python.
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/*.py[cod]
**/*.so
.python-version

# Git.
.git
.gitignore

# Environments.
.venv
.env
.env*

# Projects.
cspell.json
examples/
tests/

# Documentation.
*.md
